<div class="romo-row">
  <div class="romo-10-12">
    <%= yield %>
  </div>
  <div class="romo-2-12 romo-pad-left">
    <ul id="docsLinks" class="romo-tabs romo-tabs-stacked">
      <% view.docs_links.each do |link| %>
        <li class="<%= link.active_class_str(view.request_path_info) %>">
          <a href="<%= link.href %>"><%= h link.name %></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
