<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
  <title><%= view.layout_page_title %></title>
  <link rel="icon" type="image/png" href="/favicon.png"></link>
  <% view.stylesheets.each do |style| %>
    <link href="<%= Dassets[style].href %>" type="text/css" rel="stylesheet" />
  <% end %>
  <% view.javascripts.each do |script| %>
    <script src="<%= Dassets[script].href %>" type="text/javascript"></script>
  <% end %>
</head>
<body>
  <div>
    <%= yield %>
  </div>
</body>
</html>
