<h1>Kramdown Test Page</h1>
<p>I will be using some markdown to add code blocks and such to the docs site.  This page tests to make sure those things are working as intended.</p>

<a href="<%= router.url_for(:test_index) %>">[Back to main test page]</a>

<%= kramdown('test/kramdown.md') %>

<a href="<%= router.url_for(:test_index) %>">[Back to main test page]</a>
