@import 'css/romo/vars';

/* Globals */
/* ------- */

@mixin border-box($i:"") {
  -webkit-box-sizing: border-box #{$i};
     -moz-box-sizing: border-box #{$i};
          box-sizing: border-box #{$i};
}

@mixin box-shadow($shadow, $i:"") {
  -webkit-box-shadow: $shadow #{$i};
     -moz-box-shadow: $shadow #{$i};
          box-shadow: $shadow #{$i};
}

@mixin transition($transition, $i:"") {
  -webkit-transition: $transition #{$i};
     -moz-transition: $transition #{$i};
       -o-transition: $transition #{$i};
          transition: $transition #{$i};
}

@mixin opacity($opacity, $i:"") {
  opacity: $opacity / 100;
}

@mixin clearfix { /* h5bp.com/q */
  &:before,
  &:after { display: table; content: ""; line-height: 0; }
  &:after { clear: both; }
}

/* flexbox */

@mixin display-flex($i:"") {
  display: -webkit-flex #{$i};
  display:         flex #{$i};
}

@mixin display-inline-flex($i:"") {
  display: -webkit-inline-flex #{$i};
  display:         inline-flex #{$i};
}

@mixin flex-direction($val) {
  -webkit-flex-direction: $val;
          flex-direction: $val;
}

@mixin flex-wrap($val) {
  -webkit-flex-wrap: $val;
          flex-wrap: $val;
}

@mixin flex-justify-content($val) {
  -webkit-justify-content: $val;
          justify-content: $val;
}

@mixin flex-align-items($val) {
  -webkit-align-items: $val;
          align-items: $val;
}

@mixin flex-align-self($val) {
  -webkit-align-self: $val;
          align-self: $val;
}

@mixin flex-grow($val) {
  -webkit-flex-grow: $val;
          flex-grow: $val;
}

@mixin flex-shrink($val) {
  -webkit-flex-shrink: $val;
          flex-shrink: $val;
}

/* Typography */
/* ---------- */

/* text weight */

@mixin font-weight($val, $i:"") { font-weight: $val #{$i}; }

@mixin font-weight1($i:"") { @include font-weight(200, $i); }
@mixin font-weight2($i:"") { @include font-weight(200, $i); }
@mixin font-weight3($i:"") { @include font-weight(200, $i); }
@mixin font-weight4($i:"") { @include font-weight(300, $i); }
@mixin font-weight5($i:"") { @include font-weight(300, $i); }
@mixin font-weight6($i:"") { @include font-weight(300, $i); }

/* text size */

@mixin font-size1($i:"") { font-size: $fontSize1 #{$i}; }
@mixin font-size2($i:"") { font-size: $fontSize2 #{$i}; }
@mixin font-size3($i:"") { font-size: $fontSize3 #{$i}; }
@mixin font-size4($i:"") { font-size: $fontSize4 #{$i}; }
@mixin font-size5($i:"") { font-size: $fontSize5 #{$i}; }
@mixin font-size6($i:"") { font-size: $fontSize6 #{$i}; }

@mixin line-height1($i:"") { line-height: $lineHeight1 #{$i}; }
@mixin line-height2($i:"") { line-height: $lineHeight2 #{$i}; }
@mixin line-height3($i:"") { line-height: $lineHeight3 #{$i}; }
@mixin line-height4($i:"") { line-height: $lineHeight4 #{$i}; }
@mixin line-height5($i:"") { line-height: $lineHeight5 #{$i}; }
@mixin line-height6($i:"") { line-height: $lineHeight6 #{$i}; }

@mixin text1($i:"") { @include font-size1($i); @include line-height1($i); }
@mixin text2($i:"") { @include font-size2($i); @include line-height2($i); }
@mixin text3($i:"") { @include font-size3($i); @include line-height3($i); }
@mixin text4($i:"") { @include font-size4($i); @include line-height4($i); }
@mixin text5($i:"") { @include font-size5($i); @include line-height5($i); }
@mixin text6($i:"") { @include font-size6($i); @include line-height6($i); }

/* text alignment */

@mixin align-left($i:"")   { text-align: left #{$i}; }
@mixin align-center($i:"") { text-align: center #{$i}; }
@mixin align-right($i:"")  { text-align: right #{$i}; }

@mixin align-top($i:"")    { vertical-align: top #{$i}; }
@mixin align-middle($i:"") { vertical-align: middle #{$i}; }
@mixin align-bottom($i:"") { vertical-align: bottom #{$i}; }

/* color emphasis */

@mixin bg-base($i:"")    { background-color: $baseBackground #{$i}; }
@mixin bg-alt($i:"")     { background-color: $altBackground #{$i}; }
@mixin bg-striped($i:"") { background-color: $stripedBackground #{$i}; }
@mixin bg-hover($i:"")   { background-color: $backgroundHover #{$i}; }

@mixin border-base($i:"") { border-color: $baseBorderColor #{$i}; }
@mixin border-alt($i:"")  { border-color: $altBorderColor #{$i}; }
@mixin text-border-base($i:"")   { color: $baseBorderColor #{$i}; }
@mixin text-border-alt($i:"")    { color: $altBorderColor #{$i}; }

@mixin text-muted($i:"")       { color: $mutedText #{$i}; }
@mixin text-muted-hover($i:"") { color: $mutedTextHover #{$i}; }
@mixin bg-muted($i:"")         { background-color: $mutedBackground #{$i}; }
@mixin bg-muted-hover($i:"")   { background-color: $mutedBackgroundHover #{$i}; }
@mixin border-muted($i:"")     {     border-color: $mutedBorder #{$i}; }

@mixin text-warning($i:"")       { color: $warningText #{$i}; }
@mixin text-warning-hover($i:"") { color: $warningTextHover #{$i}; }
@mixin bg-warning($i:"")         { background-color: $warningBackground #{$i}; }
@mixin bg-warning-hover($i:"")   { background-color: $warningBackgroundHover #{$i}; }
@mixin border-warning($i:"")     {     border-color: $warningBorder #{$i}; }

@mixin text-error($i:"")       { color: $errorText #{$i}; }
@mixin text-error-hover($i:"") { color: $errorTextHover #{$i}; }
@mixin bg-error($i:"")         { background-color: $errorBackground #{$i}; }
@mixin bg-error-hover($i:"")   { background-color: $errorBackgroundHover #{$i}; }
@mixin border-error($i:"")     {     border-color: $errorBorder #{$i}; }

@mixin text-info($i:"")       { color: $infoText #{$i}; }
@mixin text-info-hover($i:"") { color: $infoTextHover #{$i}; }
@mixin bg-info($i:"")         { background-color: $infoBackground #{$i}; }
@mixin bg-info-hover($i:"")   { background-color: $infoBackgroundHover #{$i}; }
@mixin border-info($i:"")     {     border-color: $infoBorder #{$i}; }

@mixin text-success($i:"")       { color: $successText #{$i}; }
@mixin text-success-hover($i:"") { color: $successTextHover #{$i}; }
@mixin bg-success($i:"")         { background-color: $successBackground #{$i}; }
@mixin bg-success-hover($i:"")   { background-color: $successBackgroundHover #{$i}; }
@mixin border-success($i:"")     {     border-color: $successBorder #{$i}; }

@mixin text-inverse($i:"")       { color: $inverseText #{$i}; }
@mixin text-inverse-hover($i:"") { color: $inverseTextHover #{$i}; }
@mixin bg-inverse($i:"")         { background-color: $inverseBackground #{$i}; }
@mixin bg-inverse-hover($i:"")   { background-color: $inverseBackgroundHover #{$i}; }
@mixin border-inverse($i:"")     {     border-color: $inverseBorder #{$i}; }

/* Gradients */
/* --------- */

@mixin gradient-horizontal($start, $end) {
  background-color: $end;
  background-image: -moz-linear-gradient(left, $start, $end); // FF 3.6+
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from($start), to($end)); // Safari 4+, Chrome 2+
  background-image: -webkit-linear-gradient(left, $start, $end); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient(left, $start, $end); // Opera 11.10
  background-image: linear-gradient(to right, $start, $end); // Standard, IE10
  background-repeat: repeat-x;
}
@mixin gradient-vertical($start, $end) {
  background-color: mix($start, $end, 60%);
  background-image: -moz-linear-gradient(top, $start, $end); // FF 3.6+
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($start), to($end)); // Safari 4+, Chrome 2+
  background-image: -webkit-linear-gradient(top, $start, $end); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient(top, $start, $end); // Opera 11.10
  background-image: linear-gradient(to bottom, $start, $end); // Standard, IE10
  background-repeat: repeat-x;
}
@mixin gradient-bar($primary, $secondary, $text, $shadow: 0 -1px 0 rgba(0,0,0,.25)) {
  color: $text;
  text-shadow: $shadow;
  @include gradient-vertical($primary, $secondary);
  border-color: $secondary $secondary darken($secondary, 15%);
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) fadein(rgba(0,0,0,.1), 15%);
}

/* Buttons */
/* ------- */

@mixin button-bg($start, $end, $text, $shadow: 0 -1px 0 rgba(0,0,0,.25)) {
  @include gradient-bar($start, $end, $text, $shadow);
  *background-color: $end; /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  /* in these cases the gradient won't cover the background, so we override */
  &:hover, &:focus, &.active, &:active, &.disabled, &[disabled] {
    color: $text;
    background-color: $end;
    *background-color: darken($end, 5%);
  }
}

@mixin button-pad($lineHeight) {
  $inputHeight: ($lineHeight / 2) * 3; /* 30px */
  $btnPaddingTopBottom: ($inputHeight - 2 - $lineHeight) / 2; /* 4px; "2" is for the borders */
  $btnPaddingLeftRight: $btnPaddingTopBottom * 3; /* 12px; keep the 4px to 12px ratio */
  padding: $btnPaddingTopBottom $btnPaddingLeftRight;
}

@mixin button-pad1 { @include button-pad($lineHeight1); }
@mixin button-pad2 { @include button-pad($lineHeight2); }
@mixin button-pad3 { @include button-pad($lineHeight3); }
@mixin button-pad4 { @include button-pad($lineHeight4); }
@mixin button-pad5 { @include button-pad($lineHeight4); }
@mixin button-pad6 { @include button-pad($lineHeight6); }

@mixin button-inline($lineHeight) {
  line-height: ($lineHeight / 2) * 3;
  @include align-middle;
}

@mixin button-inline1 { @include button-inline($lineHeight1); }
@mixin button-inline2 { @include button-inline($lineHeight2); }
@mixin button-inline3 { @include button-inline($lineHeight3); }
@mixin button-inline4 { @include button-inline($lineHeight4); }
@mixin button-inline5 { @include button-inline($lineHeight4); }
@mixin button-inline6 { @include button-inline($lineHeight6); }

/* Labels */
/* ------- */

@mixin label-pad($lineHeight) {
  $inputHeight: ($lineHeight / 2) * 3; /* 30px */
  $btnPaddingTopBottom: ($inputHeight - $lineHeight) / 2; /* 5px */
  $btnPaddingLeftRight: ($btnPaddingTopBottom - 2) * 3; /* 12px; subtract "2" to match btn padding */
  padding: $btnPaddingTopBottom $btnPaddingLeftRight;
}

@mixin label-pad1 { @include label-pad($lineHeight1); }
@mixin label-pad2 { @include label-pad($lineHeight2); }
@mixin label-pad3 { @include label-pad($lineHeight3); }
@mixin label-pad4 { @include label-pad($lineHeight4); }
@mixin label-pad5 { @include label-pad($lineHeight4); }
@mixin label-pad6 { @include label-pad($lineHeight6); }

/* Scaffolding */
/* ----------- */

/* grid helpers */

@mixin grid-span  ($num, $total, $i:"") { width:       $num * (100% / $total); }
@mixin grid-offset($num, $total, $i:"") { margin-left: $num * (100% / $total); }

/* list helpers */

@mixin list-unstyled($i:"") {
  @include rm-push;
  @include rm-pad;
  list-style: none #{$i};
}
@mixin list-styled($i:"") {
  @include rm-push;
  @include rm-pad;
  list-style-position: outside #{$i};
  padding-left: ($baseFontSize * $lineHeightToSizeRatio) #{$i};
}

/* border helpers */

@mixin border-style($val, $i:"")        { border-style:        $val #{$i}; }
@mixin border-style-top($val, $i:"")    { border-top-style:    $val #{$i}; }
@mixin border-style-right($val, $i:"")  { border-right-style:  $val #{$i}; }
@mixin border-style-bottom($val, $i:"") { border-bottom-style: $val #{$i}; }
@mixin border-style-left($val, $i:"")   { border-left-style:   $val #{$i}; }

@mixin border($num, $i:"")        { border-width:        (1px * $num) #{$i}; @include border-style(solid); }
@mixin border-top($num, $i:"")    { border-top-width:    (1px * $num) #{$i}; @include border-style-top(solid); }
@mixin border-right($num, $i:"")  { border-right-width:  (1px * $num) #{$i}; @include border-style-right(solid); }
@mixin border-bottom($num, $i:"") { border-bottom-width: (1px * $num) #{$i}; @include border-style-bottom(solid); }
@mixin border-left($num, $i:"")   { border-left-width:   (1px * $num) #{$i}; @include border-style-left(solid); }

@mixin border1($i:"")   { @include border(1, $i); }
@mixin border2($i:"")   { @include border(2, $i); }
@mixin border3($i:"")   { @include border(3, $i); }
@mixin border4($i:"")   { @include border(4, $i); }
@mixin border5($i:"")   { @include border(5, $i); }
@mixin border6($i:"")   { @include border(6, $i); }
@mixin rm-border($i:"") { @include border(0, $i); }

@mixin border1-top($i:"")   { @include border-top(1, $i); }
@mixin border2-top($i:"")   { @include border-top(2, $i); }
@mixin border3-top($i:"")   { @include border-top(3, $i); }
@mixin border4-top($i:"")   { @include border-top(4, $i); }
@mixin border5-top($i:"")   { @include border-top(5, $i); }
@mixin border6-top($i:"")   { @include border-top(6, $i); }
@mixin rm-border-top($i:"") { @include border-top(0, $i); }

@mixin border1-right($i:"")   { @include border-right(1, $i); }
@mixin border2-right($i:"")   { @include border-right(2, $i); }
@mixin border3-right($i:"")   { @include border-right(3, $i); }
@mixin border4-right($i:"")   { @include border-right(4, $i); }
@mixin border5-right($i:"")   { @include border-right(5, $i); }
@mixin border6-right($i:"")   { @include border-right(6, $i); }
@mixin rm-border-right($i:"") { @include border-right(0, $i); }

@mixin border1-bottom($i:"")   { @include border-bottom(1, $i); }
@mixin border2-bottom($i:"")   { @include border-bottom(2, $i); }
@mixin border3-bottom($i:"")   { @include border-bottom(3, $i); }
@mixin border4-bottom($i:"")   { @include border-bottom(4, $i); }
@mixin border5-bottom($i:"")   { @include border-bottom(5, $i); }
@mixin border6-bottom($i:"")   { @include border-bottom(6, $i); }
@mixin rm-border-bottom($i:"") { @include border-bottom(0, $i); }

@mixin border1-left($i:"")   { @include border-left(1, $i); }
@mixin border2-left($i:"")   { @include border-left(2, $i); }
@mixin border3-left($i:"")   { @include border-left(3, $i); }
@mixin border4-left($i:"")   { @include border-left(4, $i); }
@mixin border5-left($i:"")   { @include border-left(5, $i); }
@mixin border6-left($i:"")   { @include border-left(6, $i); }
@mixin rm-border-left($i:"") { @include border-left(0, $i); }

@mixin border-radius($radius, $i:"") {
  -webkit-border-radius: $radius #{$i};
     -moz-border-radius: $radius #{$i};
      -ms-border-radius: $radius #{$i};
          border-radius: $radius #{$i};
}

@mixin border-top-left-radius($radius, $i:"") {
  -webkit-border-top-left-radius: $radius #{$i};
      -moz-border-radius-topleft: $radius #{$i};
      -ms-border-top-left-radius: $radius #{$i};
          border-top-left-radius: $radius #{$i};
}

@mixin border-top-right-radius($radius, $i:"") {
  -webkit-border-top-right-radius: $radius #{$i};
      -moz-border-radius-topright: $radius #{$i};
      -ms-border-top-right-radius: $radius #{$i};
          border-top-right-radius: $radius #{$i};
}

@mixin border-bottom-right-radius($radius, $i:"") {
  -webkit-border-bottom-right-radius: $radius #{$i};
      -moz-border-radius-bottomright: $radius #{$i};
      -ms-border-bottom-right-radius: $radius #{$i};
          border-bottom-right-radius: $radius #{$i};
}

@mixin border-bottom-left-radius($radius, $i:"") {
  -webkit-border-bottom-left-radius: $radius #{$i};
      -moz-border-radius-bottomleft: $radius #{$i};
      -ms-border-bottom-left-radius: $radius #{$i};
          border-bottom-left-radius: $radius #{$i};
}

@mixin border1-radius($i:"")   { @include border-radius(($baseBorderRadius + 0px), $i); }
@mixin border2-radius($i:"")   { @include border-radius(($baseBorderRadius + 1px), $i); }
@mixin border3-radius($i:"")   { @include border-radius(($baseBorderRadius + 2px), $i); }
@mixin border4-radius($i:"")   { @include border-radius(($baseBorderRadius + 3px), $i); }
@mixin border5-radius($i:"")   { @include border-radius(($baseBorderRadius + 4px), $i); }
@mixin border6-radius($i:"")   { @include border-radius(($baseBorderRadius + 5px), $i); }
@mixin rm-border-radius($i:"") { @include border-radius(0px, $i); }

@mixin border1-top-left-radius($i:"")   { @include border-top-left-radius(($baseBorderRadius + 0px), $i); }
@mixin border2-top-left-radius($i:"")   { @include border-top-left-radius(($baseBorderRadius + 1px), $i); }
@mixin border3-top-left-radius($i:"")   { @include border-top-left-radius(($baseBorderRadius + 2px), $i); }
@mixin border4-top-left-radius($i:"")   { @include border-top-left-radius(($baseBorderRadius + 3px), $i); }
@mixin border5-top-left-radius($i:"")   { @include border-top-left-radius(($baseBorderRadius + 4px), $i); }
@mixin border6-top-left-radius($i:"")   { @include border-top-left-radius(($baseBorderRadius + 5px), $i); }
@mixin rm-border-top-left-radius($i:"") { @include border-top-left-radius(0px, $i); }

@mixin border1-top-right-radius($i:"")   { @include border-top-right-radius(($baseBorderRadius + 0px), $i); }
@mixin border2-top-right-radius($i:"")   { @include border-top-right-radius(($baseBorderRadius + 1px), $i); }
@mixin border3-top-right-radius($i:"")   { @include border-top-right-radius(($baseBorderRadius + 2px), $i); }
@mixin border4-top-right-radius($i:"")   { @include border-top-right-radius(($baseBorderRadius + 3px), $i); }
@mixin border5-top-right-radius($i:"")   { @include border-top-right-radius(($baseBorderRadius + 4px), $i); }
@mixin border6-top-right-radius($i:"")   { @include border-top-right-radius(($baseBorderRadius + 5px), $i); }
@mixin rm-border-top-right-radius($i:"") { @include border-top-right-radius(0px, $i); }

@mixin border1-bottom-right-radius($i:"")   { @include border-bottom-right-radius(($baseBorderRadius + 0px), $i); }
@mixin border2-bottom-right-radius($i:"")   { @include border-bottom-right-radius(($baseBorderRadius + 1px), $i); }
@mixin border3-bottom-right-radius($i:"")   { @include border-bottom-right-radius(($baseBorderRadius + 2px), $i); }
@mixin border4-bottom-right-radius($i:"")   { @include border-bottom-right-radius(($baseBorderRadius + 3px), $i); }
@mixin border5-bottom-right-radius($i:"")   { @include border-bottom-right-radius(($baseBorderRadius + 4px), $i); }
@mixin border6-bottom-right-radius($i:"")   { @include border-bottom-right-radius(($baseBorderRadius + 5px), $i); }
@mixin rm-border-bottom-right-radius($i:"") { @include border-bottom-right-radius(0px, $i); }

@mixin border1-bottom-left-radius($i:"")   { @include border-bottom-left-radius(($baseBorderRadius + 0px), $i); }
@mixin border2-bottom-left-radius($i:"")   { @include border-bottom-left-radius(($baseBorderRadius + 1px), $i); }
@mixin border3-bottom-left-radius($i:"")   { @include border-bottom-left-radius(($baseBorderRadius + 2px), $i); }
@mixin border4-bottom-left-radius($i:"")   { @include border-bottom-left-radius(($baseBorderRadius + 3px), $i); }
@mixin border5-bottom-left-radius($i:"")   { @include border-bottom-left-radius(($baseBorderRadius + 4px), $i); }
@mixin border6-bottom-left-radius($i:"")   { @include border-bottom-left-radius(($baseBorderRadius + 5px), $i); }
@mixin rm-border-bottom-left-radius($i:"") { @include border-bottom-left-radius(0px, $i); }

/* spacing */

@mixin pad($num, $i:"")        { padding:        ($baseSpacingSize * $num) #{$i}; }
@mixin pad-top($num, $i:"")    { padding-top:    ($baseSpacingSize * $num) #{$i}; }
@mixin pad-right($num, $i:"")  { padding-right:  ($baseSpacingSize * $num) #{$i}; }
@mixin pad-bottom($num, $i:"") { padding-bottom: ($baseSpacingSize * $num) #{$i}; }
@mixin pad-left($num, $i:"")   { padding-left:   ($baseSpacingSize * $num) #{$i}; }

@mixin pad0($i:"") { @include pad(0.35, $i); }
@mixin pad1($i:"") { @include pad(1, $i); }
@mixin pad2($i:"") { @include pad(2, $i); }
@mixin pad3($i:"") { @include pad(3, $i); }
@mixin pad4($i:"") { @include pad(4, $i); }
@mixin pad5($i:"") { @include pad(5, $i); }
@mixin pad6($i:"") { @include pad(6, $i); }
@mixin rm-pad($i:"") { @include pad(0, $i); }

@mixin pad0-top($i:"") { @include pad-top(0.35, $i); }
@mixin pad1-top($i:"") { @include pad-top(1, $i); }
@mixin pad2-top($i:"") { @include pad-top(2, $i); }
@mixin pad3-top($i:"") { @include pad-top(3, $i); }
@mixin pad4-top($i:"") { @include pad-top(4, $i); }
@mixin pad5-top($i:"") { @include pad-top(5, $i); }
@mixin pad6-top($i:"") { @include pad-top(6, $i); }
@mixin rm-pad-top($i:"") { @include pad-top(0, $i); }

@mixin pad0-right($i:"") { @include pad-right(0.35, $i); }
@mixin pad1-right($i:"") { @include pad-right(1, $i); }
@mixin pad2-right($i:"") { @include pad-right(2, $i); }
@mixin pad3-right($i:"") { @include pad-right(3, $i); }
@mixin pad4-right($i:"") { @include pad-right(4, $i); }
@mixin pad5-right($i:"") { @include pad-right(5, $i); }
@mixin pad6-right($i:"") { @include pad-right(6, $i); }
@mixin rm-pad-right($i:"") { @include pad-right(0, $i); }

@mixin pad0-bottom($i:"") { @include pad-bottom(0.35, $i); }
@mixin pad1-bottom($i:"") { @include pad-bottom(1, $i); }
@mixin pad2-bottom($i:"") { @include pad-bottom(2, $i); }
@mixin pad3-bottom($i:"") { @include pad-bottom(3, $i); }
@mixin pad4-bottom($i:"") { @include pad-bottom(4, $i); }
@mixin pad5-bottom($i:"") { @include pad-bottom(5, $i); }
@mixin pad6-bottom($i:"") { @include pad-bottom(6, $i); }
@mixin rm-pad-bottom($i:"") { @include pad-bottom(0, $i); }

@mixin pad0-left($i:"") { @include pad-left(0.35, $i); }
@mixin pad1-left($i:"") { @include pad-left(1, $i); }
@mixin pad2-left($i:"") { @include pad-left(2, $i); }
@mixin pad3-left($i:"") { @include pad-left(3, $i); }
@mixin pad4-left($i:"") { @include pad-left(4, $i); }
@mixin pad5-left($i:"") { @include pad-left(5, $i); }
@mixin pad6-left($i:"") { @include pad-left(6, $i); }
@mixin rm-pad-left($i:"") { @include pad-left(0, $i); }

@mixin push($num, $i:"")        { margin:        ($baseSpacingSize * $num) #{$i}; }
@mixin push-top($num, $i:"")    { margin-top:    ($baseSpacingSize * $num) #{$i}; }
@mixin push-right($num, $i:"")  { margin-right:  ($baseSpacingSize * $num) #{$i}; }
@mixin push-bottom($num, $i:"") { margin-bottom: ($baseSpacingSize * $num) #{$i}; }
@mixin push-left($num, $i:"")   { margin-left:   ($baseSpacingSize * $num) #{$i}; }

@mixin push0($i:"") { @include push(0.35, $i); }
@mixin push1($i:"") { @include push(1, $i); }
@mixin push2($i:"") { @include push(2, $i); }
@mixin push3($i:"") { @include push(3, $i); }
@mixin push4($i:"") { @include push(4, $i); }
@mixin push5($i:"") { @include push(5, $i); }
@mixin push6($i:"") { @include push(6, $i); }
@mixin rm-push($i:"") { @include push(0, $i); }

@mixin push0-top($i:"") { @include push-top(0.35, $i); }
@mixin push1-top($i:"") { @include push-top(1, $i); }
@mixin push2-top($i:"") { @include push-top(2, $i); }
@mixin push3-top($i:"") { @include push-top(3, $i); }
@mixin push4-top($i:"") { @include push-top(4, $i); }
@mixin push5-top($i:"") { @include push-top(5, $i); }
@mixin push6-top($i:"") { @include push-top(6, $i); }
@mixin rm-push-top($i:"") { @include push-top(0, $i); }

@mixin push0-right($i:"") { @include push-right(0.35, $i); }
@mixin push1-right($i:"") { @include push-right(1, $i); }
@mixin push2-right($i:"") { @include push-right(2, $i); }
@mixin push3-right($i:"") { @include push-right(3, $i); }
@mixin push4-right($i:"") { @include push-right(4, $i); }
@mixin push5-right($i:"") { @include push-right(5, $i); }
@mixin push6-right($i:"") { @include push-right(6, $i); }
@mixin rm-push-right($i:"") { @include push-right(0, $i); }

@mixin push0-bottom($i:"") { @include push-bottom(0.35, $i); }
@mixin push1-bottom($i:"") { @include push-bottom(1, $i); }
@mixin push2-bottom($i:"") { @include push-bottom(2, $i); }
@mixin push3-bottom($i:"") { @include push-bottom(3, $i); }
@mixin push4-bottom($i:"") { @include push-bottom(4, $i); }
@mixin push5-bottom($i:"") { @include push-bottom(5, $i); }
@mixin push6-bottom($i:"") { @include push-bottom(6, $i); }
@mixin rm-push-bottom($i:"") { @include push-bottom(0, $i); }

@mixin push0-left($i:"") { @include push-left(0.35, $i); }
@mixin push1-left($i:"") { @include push-left(1, $i); }
@mixin push2-left($i:"") { @include push-left(2, $i); }
@mixin push3-left($i:"") { @include push-left(3, $i); }
@mixin push4-left($i:"") { @include push-left(4, $i); }
@mixin push5-left($i:"") { @include push-left(5, $i); }
@mixin push6-left($i:"") { @include push-left(6, $i); }
@mixin rm-push-left($i:"") { @include push-left(0, $i); }
