/* Base */
/* ---- */

$lineHeightToSizeRatio: 20/14;

$baseFontFamily:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$baseFontSize:    14px;
$baseLineHeight:  $baseFontSize * $lineHeightToSizeRatio;

$fontSize0: ($baseFontSize * 0.85);    /* ~12px */
$fontSize1: $baseFontSize;             /*  14px */
$fontSize2: ($baseFontSize * 1.25);    /* ~18px */
$fontSize3: ($baseFontSize * 1.75);    /* ~24px */

$lineHeight0: ($baseLineHeight * 0.75); /* 15px */;
$lineHeight1: $baseLineHeight;          /* 20px */
$lineHeight2: ($baseLineHeight * 1.25); /* 25px */
$lineHeight3: ($baseLineHeight * 1.50); /* 30px */

$imgHeight0: $lineHeight0 * 0.8; /* 12px */;
$imgHeight1: $lineHeight1 * 0.8; /* 16px */
$imgHeight2: $lineHeight2 * 0.8; /* 20px */
$imgHeight3: $lineHeight3 * 0.8; /* 24px */

$spacingSize1: $baseLineHeight / 2;
$spacingSize0: $spacingSize1 * 0.35;
$spacingSize2: $spacingSize1 * 2;

$inputHeight: ($baseLineHeight / 2) * 3; /* 30px */
$inputFilterHeight: $baseLineHeight;     /* 20px */

$inputSize1: 220px;
$inputSize0: $inputSize1 - 120px;
$inputSize2: $inputSize1 + 120px;

$notAllowedCursor: not-allowed;

/* colors */

$baseColor:     #444;
$altColor:      #444;
$inverseColor:  #fff;
$disabledColor: #999;

$baseBgColor:     #fff;
$altBgColor:      #ececec;
$inverseBgColor:  #333;
$disabledBgColor: #f9f9f9;
$stripedBgColor:  #fafafa;
$bgColorHover:    #f5f5f5;

$baseBorderColor:    #ccc;
$altBorderColor:     #fff;
$inverseBorderColor: #000;

$inputBgColor:          #fff;
$inputAltBgColor:       #eee;
$inputColor:            #444;
$inputDisabledColor:    #eee;
$inputFocusColor:       rgba(82, 168, 236, 0.8);
$inputHighlightBgColor: #3c83c7;

$darkRed:      #e7040f;
$red:          #ee4136;
$lightRed:     #ff725c;
$pastelRed:    #f2dede;
$washedRed:    #ffdfdf;
$darkOrange:   #ff6300;
$orange:       #ffa700;
$yellow:       #ffde37;
$lightYellow:  #fbf1a9;
$pastelYellow: #fcf8e3;
$washedYellow: #fffceb;
$purple:       #5e2ca5;
$lightPurple:  #a463f2;
$darkPink:     #d5008f;
$hotPink:      #ff41b4;
$pink:         #ff80cc;
$lightPink:    #ffa3d7;
$darkGreen:    #137752;
$green:        #51a351;
$lightGreen:   #9eebcf;
$pastelGreen:  #dff0d8;
$washedGreen:  #e8fdf5;
$navy:         #001b44;
$darkBlue:     #00449e;
$blue:         #357edd;
$lightBlue:    #96ccff;
$pastelBlue:   #d9edf7;
$washedBlue:   #f6fffe;

$linkColor:      $blue;
$linkColorHover: darken($linkColor, 15%);

$btnBorder:                     $baseBorderColor;
$btnBackground:                 darken($baseBgColor, 3%);
$btnBackgroundHighlight:        darken($btnBackground, 10%);
$btnColor:                      $baseColor;
$btnColorHover:                 #333;

$btnAltBackground:              darken($altBgColor, 4%);
$btnAltBackgroundHighlight:     darken($btnAltBackground, 10%);
$btnAltColor:                   $btnColor;

$btnInverseBackground:          $inverseBgColor;
$btnInverseBackgroundHighlight: darken($btnInverseBackground, 10%);
$btnInverseColor:               #fff;

$btnWarningBackground:          $orange;
$btnWarningBackgroundHighlight: darken($btnWarningBackground, 5%);
$btnWarningColor:               #fff;

$btnDangerBackground:           $red;
$btnDangerBackgroundHighlight:  darken($btnDangerBackground, 10%);
$btnDangerColor:                #fff;

$btnInfoBackground:             $blue;
$btnInfoBackgroundHighlight:    darken($btnInfoBackground, 10%);
$btnInfoColor:                  #fff;

$btnSuccessBackground:          $green;
$btnSuccessBackgroundHighlight: darken($btnSuccessBackground, 10%);
$btnSuccessColor:               #fff;

$baseText:               $baseColor;
$baseTextHover:          $baseText;
$baseBackground:         $baseBgColor;
$baseBackgroundHover:    $baseBackground;
$baseBorder:             $baseBorderColor;

$altText:                $altColor;
$altTextHover:           $altColor;
$altBackground:          $altBgColor;
$altBackgroundHover:     $altBackground;
$altBorder:              $altBorderColor;

$inverseText:            $inverseColor;
$inverseTextHover:       darken($inverseText, 10%);
$inverseBackground:      $inverseBgColor;
$inverseBackgroundHover: darken($inverseBackground, 5%);
$inverseBorder:          darken(adjust_hue($inverseBackground, -10), 7%);

$mutedText:              $disabledColor;
$mutedTextHover:         darken($mutedText, 10%);
$mutedBackground:        $disabledBgColor;
$mutedBackgroundHover:   darken($mutedBackground, 5%);
$mutedBorder:            darken(adjust_hue($mutedBackground, -10), 7%);

$warningText:            darken($orange, 5%);
$warningTextHover:       darken($warningText, 10%);
$warningBackground:      $pastelYellow;
$warningBackgroundHover: darken($warningBackground, 5%);
$warningBorder:          darken(adjust_hue($warningBackground, -10), 7%);

$errorText:              darken($red, 5%);
$errorTextHover:         darken($errorText, 10%);
$errorBackground:        $pastelRed;
$errorBackgroundHover:   darken($errorBackground, 5%);
$errorBorder:            darken(adjust_hue($errorBackground, -10), 7%);

$infoText:               darken($blue, 5%);
$infoTextHover:          darken($infoText, 10%);
$infoBackground:         $pastelBlue;
$infoBackgroundHover:    darken($infoBackground, 5%);
$infoBorder:             darken(adjust_hue($infoBackground, -10), 7%);

$successText:            darken($green, 5%);
$successTextHover:       darken($successText, 10%);
$successBackground:      $pastelGreen;
$successBackgroundHover: darken($successBackground, 5%);
$successBorder:          darken(adjust_hue($successBackground, -10), 7%);

$tabBgColor:       $altBgColor;
$tabBgColorHover:  darken($altBgColor, 5%);
$tabBgColorActive: $inverseBgColor;
$tabColor:         $baseColor;
$tabColorActive:   $inverseColor;
$tabColorDisabled: $disabledColor;

$tooltipBgColor:   $inverseBgColor;
$tooltipColor:     $inverseColor;

/* borders */

$borderSize1: 1px;
$borderSize0: $borderSize1 * 1;
$borderSize2: $borderSize1 * 2;

$borderRadius1: 4px;
$borderRadius0: 2px;
$borderRadius2: 6px;

/* tabs */

$tabDividerSize: 4px;

/* z-index */

$tooltipZIndex:  1100;
$dropdownZIndex: 1200;
// 1300 is reserved for app specific things like nav bars, etc
// modals should appear on top of everything though
$modalZIndex:    1400;
