@import 'css/romo/vars';
@import 'css/romo/mixins';

/* Globals */
/* ------- */

*, *:before, *:after { @include border-box; }

html, body { height: 100%; }

body {
  @include rm-push;
  @include bg-base;
  color: $baseColor;
  font-weight: normal;
}

*,
legend { @include border-base; }

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  @include rm-pad;
  @include rm-border;
  @include align-left;
  @include align-middle;
}

ul, ol { @include list-styled; }

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* Typography */
/* ---------- */

body {
  font-family: $baseFontFamily;
  font-size:   $baseFontSize;
  line-height: $baseLineHeight;
}

p {
  margin: 0 0 ($baseLineHeight / 2);
}

small  { font-size: 85%; } /* Ex: 14px base font * 85% = about 12px */
strong { font-weight: bold; }
em     { font-style: italic; }

a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  outline: 0;
}

a,
a:link,
a:visited {
  color: $linkColor;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: $linkColorHover;
  text-decoration: underline;
}

a.romo-text {
  color: $baseColor;
  text-decoration: none;
}
.romo-pointer { cursor: pointer; }

/* images */

.romo-img-rounded { @include border-radius(6px); }
.romo-img-circle  { @include border-radius(500px); }
.romo-img-card {
  padding: 3px;
  background-color: $baseBackground;
  border: 1px solid;
  border: 1px solid rgba(0, 0, 0, 0.2);
  @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
}

.romo-img1 { height: $imgHeight1 !important; }
.romo-img2 { height: $imgHeight2 !important; }
.romo-img3 { height: $imgHeight3 !important; }
.romo-img4 { height: $imgHeight4 !important; }
.romo-img5 { height: $imgHeight5 !important; }
.romo-img6 { height: $imgHeight6 !important; }

/* headings */

h1, h2, h3, h4, h5, h6 {
  margin: ($baseLineHeight / 2) 0;
  font-weight: bold;
  text-rendering: optimizelegibility;
  small {
    font-weight: normal;
    line-height: 1;
  }
}

h1 { @include text1; }
h2 { @include text2; }
h3 { @include text3; }
h4 { @include text4; }
h5 { @include text5; }
h6 { @include text6; }

/* text size */

.romo-text1,
.romo-text2,
.romo-text3,
.romo-text4,
.romo-text5,
.romo-text6 {
  text-rendering: optimizelegibility;
}

.romo-text1 { @include text1(!important); @include font-weight1; }
.romo-text2 { @include text2(!important); @include font-weight2; }
.romo-text3 { @include text3(!important); @include font-weight3; }
.romo-text-large,
.romo-text4 { @include text4(!important); @include font-weight4; }
.romo-text5 { @include text5(!important); @include font-weight5; }
.romo-text-small,
.romo-text6 { @include text6(!important); @include font-weight6; }

/* text weight */

.romo-text-normal  { @include font-weight(normal,  !important); }
.romo-text-lighter { @include font-weight(lighter, !important); }
.romo-text-bold    { @include font-weight(bold,    !important); }
.romo-text-bolder  { @include font-weight(bolder,  !important); }
.romo-text-100     { @include font-weight(100,     !important); }
.romo-text-200     { @include font-weight(200,     !important); }
.romo-text-300     { @include font-weight(300,     !important); }
.romo-text-400     { @include font-weight(400,     !important); }
.romo-text-500     { @include font-weight(500,     !important); }
.romo-text-600     { @include font-weight(600,     !important); }
.romo-text-700     { @include font-weight(700,     !important); }
.romo-text-800     { @include font-weight(800,     !important); }
.romo-text-900     { @include font-weight(900,     !important); }

/* alignment */

.romo-align-left   { @include align-left(!important); }
.romo-align-center { @include align-center(!important); }
.romo-align-right  { @include align-right(!important); }

.romo-align-top    { @include align-top(!important); }
.romo-align-middle { @include align-middle(!important); }
.romo-align-bottom { @include align-bottom(!important); }

/* color emphasis */

.romo-bg-base  { @include bg-base(!important); }
.romo-bg-alt   { @include bg-alt(!important); }
.romo-bg-hover { @include bg-hover(!important); }

.romo-border-base { @include border-base(!important); }
.romo-border-alt  { @include border-alt(!important); }

.romo-text-border-base { @include text-border-base(!important); }
.romo-text-border-alt  { @include text-border-alt(!important); }
.romo-text-muted       { @include text-muted(!important); }
.romo-text-warning     { @include text-warning(!important); }
.romo-text-error       { @include text-error(!important); }
.romo-text-info        { @include text-info(!important); }
.romo-text-success     { @include text-success(!important); }
.romo-text-inverse     { @include text-inverse(!important); }

.romo-text-muted-hover:hover, a.romo-text-muted:hover, a.romo-text-muted:focus {
  @include text-muted-hover(!important);
}
.romo-text-warning-hover:hover, a.romo-text-warning:hover, a.romo-text-warning:focus {
  @include text-warning-hover(!important);
}
.romo-text-error-hover:hover, a.romo-text-error:hover, a.romo-text-error:focus {
  @include text-error-hover(!important);
}
.romo-text-info-hover:hover, a.romo-text-info:hover, a.romo-text-info:focus {
  @include text-info-hover(!important);
}
.romo-text-success-hover:hover, a.romo-text-success:hover, a.romo-text-success:focus {
  @include text-success-hover(!important);
}
.romo-text-inverse-hover:hover, a.romo-text-inverse:hover, a.romo-text-inverse:focus {
  @include text-inverse-hover(!important);
}

.romo-bg-muted   { @include bg-muted(!important); }
.romo-bg-warning { @include bg-warning(!important); }
.romo-bg-error   { @include bg-error(!important); }
.romo-bg-info    { @include bg-info(!important); }
.romo-bg-success { @include bg-success(!important); }
.romo-bg-inverse { @include bg-inverse(!important); }

.romo-bg-muted-hover:hover, a.romo-bg-muted:hover, a.romo-bg-muted:focus {
  @include bg-muted-hover(!important);
}
.romo-bg-warning-hover:hover, a.romo-bg-warning:hover, a.romo-bg-warning:focus {
  @include bg-warning-hover(!important);
}
.romo-bg-error-hover:hover, a.romo-bg-error:hover, a.romo-bg-error:focus {
  @include bg-error-hover(!important);
}
.romo-bg-info-hover:hover, a.romo-bg-info:hover, a.romo-bg-info:focus {
  @include bg-info-hover(!important);
}
.romo-bg-success-hover:hover, a.romo-bg-success:hover, a.romo-bg-success:focus {
  @include bg-success-hover(!important);
}
.romo-bg-inverse-hover:hover, a.romo-bg-inverse:hover, a.romo-bg-inverse:focus {
  @include bg-inverse-hover(!important);
}

.romo-border-muted   { @include border-muted(!important); }
.romo-border-warning { @include border-warning(!important); }
.romo-border-error   { @include border-error(!important); }
.romo-border-info    { @include border-info(!important); }
.romo-border-success { @include border-success(!important); }
.romo-border-inverse { @include border-inverse(!important); }

/* Scaffolding */
/* ----------- */

/* border helpers */

.romo-border-solid  { @include border-style(solid,  !important); }
.romo-border-dashed { @include border-style(dashed, !important); }
.romo-border-dotted { @include border-style(dotted, !important); }
.romo-border-double { @include border-style(double, !important); }
.romo-border-groove { @include border-style(groove, !important); }
.romo-border-inset  { @include border-style(inset,  !important); }
.romo-border-hidden { @include border-style(hidden, !important); }
.romo-border-none   { @include border-style(none,   !important); }

.romo-border-solid-top  { @include border-style-top(solid,  !important); }
.romo-border-dashed-top { @include border-style-top(dashed, !important); }
.romo-border-dotted-top { @include border-style-top(dotted, !important); }
.romo-border-double-top { @include border-style-top(double, !important); }
.romo-border-groove-top { @include border-style-top(groove, !important); }
.romo-border-inset-top  { @include border-style-top(inset,  !important); }
.romo-border-hidden-top { @include border-style-top(hidden, !important); }
.romo-border-none-top   { @include border-style-top(none,   !important); }

.romo-border-solid-right  { @include border-style-right(solid,  !important); }
.romo-border-dashed-right { @include border-style-right(dashed, !important); }
.romo-border-dotted-right { @include border-style-right(dotted, !important); }
.romo-border-double-right { @include border-style-right(double, !important); }
.romo-border-groove-right { @include border-style-right(groove, !important); }
.romo-border-inset-right  { @include border-style-right(inset,  !important); }
.romo-border-hidden-right { @include border-style-right(hidden, !important); }
.romo-border-none-right   { @include border-style-right(none,   !important); }

.romo-border-solid-bottom  { @include border-style-bottom(solid,  !important); }
.romo-border-dashed-bottom { @include border-style-bottom(dashed, !important); }
.romo-border-dotted-bottom { @include border-style-bottom(dotted, !important); }
.romo-border-double-bottom { @include border-style-bottom(double, !important); }
.romo-border-groove-bottom { @include border-style-bottom(groove, !important); }
.romo-border-inset-bottom  { @include border-style-bottom(inset,  !important); }
.romo-border-hidden-bottom { @include border-style-bottom(hidden, !important); }
.romo-border-none-bottom   { @include border-style-bottom(none,   !important); }

.romo-border-solid-left  { @include border-style-left(solid,  !important); }
.romo-border-dashed-left { @include border-style-left(dashed, !important); }
.romo-border-dotted-left { @include border-style-left(dotted, !important); }
.romo-border-double-left { @include border-style-left(double, !important); }
.romo-border-groove-left { @include border-style-left(groove, !important); }
.romo-border-inset-left  { @include border-style-left(inset,  !important); }
.romo-border-hidden-left { @include border-style-left(hidden, !important); }
.romo-border-none-left   { @include border-style-left(none,   !important); }

.romo-border  { @include border1(!important); }
.romo-border1 { @include border1(!important); }
.romo-border2 { @include border2(!important); }
.romo-border3 { @include border3(!important); }
.romo-border4 { @include border4(!important); }
.romo-border5 { @include border5(!important); }
.romo-border6 { @include border6(!important); }
.romo-rm-border { @include rm-border(!important); }

.romo-border-top  { @include border1-top(!important); }
.romo-border1-top { @include border1-top(!important); }
.romo-border2-top { @include border2-top(!important); }
.romo-border3-top { @include border3-top(!important); }
.romo-border4-top { @include border4-top(!important); }
.romo-border5-top { @include border5-top(!important); }
.romo-border6-top { @include border6-top(!important); }
.romo-rm-border-top { @include rm-border-top(!important); }

.romo-border-right  { @include border1-right(!important); }
.romo-border1-right { @include border1-right(!important); }
.romo-border2-right { @include border2-right(!important); }
.romo-border3-right { @include border3-right(!important); }
.romo-border4-right { @include border4-right(!important); }
.romo-border5-right { @include border5-right(!important); }
.romo-border6-right { @include border6-right(!important); }
.romo-rm-border-right { @include rm-border-right(!important); }

.romo-border-bottom  { @include border1-bottom(!important); }
.romo-border1-bottom { @include border1-bottom(!important); }
.romo-border2-bottom { @include border2-bottom(!important); }
.romo-border3-bottom { @include border3-bottom(!important); }
.romo-border4-bottom { @include border4-bottom(!important); }
.romo-border5-bottom { @include border5-bottom(!important); }
.romo-border6-bottom { @include border6-bottom(!important); }
.romo-rm-border-bottom { @include rm-border-bottom(!important); }

.romo-border-left  { @include border1-left(!important); }
.romo-border1-left { @include border1-left(!important); }
.romo-border2-left { @include border2-left(!important); }
.romo-border3-left { @include border3-left(!important); }
.romo-border4-left { @include border4-left(!important); }
.romo-border5-left { @include border5-left(!important); }
.romo-border6-left { @include border6-left(!important); }
.romo-rm-border-left { @include rm-border-left(!important); }

.romo-border-radius  { @include border1-radius(!important); }
.romo-border1-radius { @include border1-radius(!important); }
.romo-border2-radius { @include border2-radius(!important); }
.romo-border3-radius { @include border3-radius(!important); }
.romo-border4-radius { @include border4-radius(!important); }
.romo-border5-radius { @include border5-radius(!important); }
.romo-border6-radius { @include border6-radius(!important); }
.romo-rm-border-radius { @include rm-border-radius(!important); }

.romo-border-top-left-radius  { @include border1-top-left-radius(!important); }
.romo-border1-top-left-radius { @include border1-top-left-radius(!important); }
.romo-border2-top-left-radius { @include border2-top-left-radius(!important); }
.romo-border3-top-left-radius { @include border3-top-left-radius(!important); }
.romo-border4-top-left-radius { @include border4-top-left-radius(!important); }
.romo-border5-top-left-radius { @include border5-top-left-radius(!important); }
.romo-border6-top-left-radius { @include border6-top-left-radius(!important); }
.romo-rm-border-top-left-radius { @include rm-border-top-left-radius(!important); }

.romo-border-top-right-radius  { @include border1-top-right-radius(!important); }
.romo-border1-top-right-radius { @include border1-top-right-radius(!important); }
.romo-border2-top-right-radius { @include border2-top-right-radius(!important); }
.romo-border3-top-right-radius { @include border3-top-right-radius(!important); }
.romo-border4-top-right-radius { @include border4-top-right-radius(!important); }
.romo-border5-top-right-radius { @include border5-top-right-radius(!important); }
.romo-border6-top-right-radius { @include border6-top-right-radius(!important); }
.romo-rm-border-top-right-radius { @include rm-border-top-right-radius(!important); }

.romo-border-bottom-right-radius  { @include border1-bottom-right-radius(!important); }
.romo-border1-bottom-right-radius { @include border1-bottom-right-radius(!important); }
.romo-border2-bottom-right-radius { @include border2-bottom-right-radius(!important); }
.romo-border3-bottom-right-radius { @include border3-bottom-right-radius(!important); }
.romo-border4-bottom-right-radius { @include border4-bottom-right-radius(!important); }
.romo-border5-bottom-right-radius { @include border5-bottom-right-radius(!important); }
.romo-border6-bottom-right-radius { @include border6-bottom-right-radius(!important); }
.romo-rm-border-bottom-right-radius { @include rm-border-bottom-right-radius(!important); }

.romo-border-bottom-left-radius  { @include border1-bottom-left-radius(!important); }
.romo-border1-bottom-left-radius { @include border1-bottom-left-radius(!important); }
.romo-border2-bottom-left-radius { @include border2-bottom-left-radius(!important); }
.romo-border3-bottom-left-radius { @include border3-bottom-left-radius(!important); }
.romo-border4-bottom-left-radius { @include border4-bottom-left-radius(!important); }
.romo-border5-bottom-left-radius { @include border5-bottom-left-radius(!important); }
.romo-border6-bottom-left-radius { @include border6-bottom-left-radius(!important); }
.romo-rm-border-bottom-left-radius { @include rm-border-bottom-left-radius(!important); }

/* spacing */

.romo-pad0 { @include pad0(!important); }
.romo-pad  { @include pad1(!important); }
.romo-pad1 { @include pad1(!important); }
.romo-pad2 { @include pad2(!important); }
.romo-pad3 { @include pad3(!important); }
.romo-pad4 { @include pad4(!important); }
.romo-pad5 { @include pad5(!important); }
.romo-pad6 { @include pad6(!important); }
.romo-rm-pad { @include rm-pad(!important); }

.romo-pad0-top { @include pad0-top(!important); }
.romo-pad-top  { @include pad1-top(!important); }
.romo-pad1-top { @include pad1-top(!important); }
.romo-pad2-top { @include pad2-top(!important); }
.romo-pad3-top { @include pad3-top(!important); }
.romo-pad4-top { @include pad4-top(!important); }
.romo-pad5-top { @include pad5-top(!important); }
.romo-pad6-top { @include pad6-top(!important); }
.romo-rm-pad-top { @include rm-pad-top(!important); }

.romo-pad0-right { @include pad0-right(!important); }
.romo-pad-right  { @include pad1-right(!important); }
.romo-pad1-right { @include pad1-right(!important); }
.romo-pad2-right { @include pad2-right(!important); }
.romo-pad3-right { @include pad3-right(!important); }
.romo-pad4-right { @include pad4-right(!important); }
.romo-pad5-right { @include pad5-right(!important); }
.romo-pad6-right { @include pad6-right(!important); }
.romo-rm-pad-right { @include rm-pad-right(!important); }

.romo-pad0-bottom { @include pad0-bottom(!important); }
.romo-pad-bottom  { @include pad1-bottom(!important); }
.romo-pad1-bottom { @include pad1-bottom(!important); }
.romo-pad2-bottom { @include pad2-bottom(!important); }
.romo-pad3-bottom { @include pad3-bottom(!important); }
.romo-pad4-bottom { @include pad4-bottom(!important); }
.romo-pad5-bottom { @include pad5-bottom(!important); }
.romo-pad6-bottom { @include pad6-bottom(!important); }
.romo-rm-pad-bottom { @include rm-pad-bottom(!important); }

.romo-pad0-left { @include pad0-left(!important); }
.romo-pad-left  { @include pad1-left(!important); }
.romo-pad1-left { @include pad1-left(!important); }
.romo-pad2-left { @include pad2-left(!important); }
.romo-pad3-left { @include pad3-left(!important); }
.romo-pad4-left { @include pad4-left(!important); }
.romo-pad5-left { @include pad5-left(!important); }
.romo-pad6-left { @include pad6-left(!important); }
.romo-rm-pad-left { @include rm-pad-left(!important); }

.romo-push0 { @include push0(!important); }
.romo-push  { @include push1(!important); }
.romo-push1 { @include push1(!important); }
.romo-push2 { @include push2(!important); }
.romo-push3 { @include push3(!important); }
.romo-push4 { @include push4(!important); }
.romo-push5 { @include push5(!important); }
.romo-push6 { @include push6(!important); }
.romo-rm-push { @include rm-push(!important); }

.romo-push0-top { @include push0-top(!important); }
.romo-push-top  { @include push1-top(!important); }
.romo-push1-top { @include push1-top(!important); }
.romo-push2-top { @include push2-top(!important); }
.romo-push3-top { @include push3-top(!important); }
.romo-push4-top { @include push4-top(!important); }
.romo-push5-top { @include push5-top(!important); }
.romo-push6-top { @include push6-top(!important); }
.romo-rm-push-top { @include rm-push-top(!important); }

.romo-push0-right { @include push0-right(!important); }
.romo-push-right  { @include push1-right(!important); }
.romo-push1-right { @include push1-right(!important); }
.romo-push2-right { @include push2-right(!important); }
.romo-push3-right { @include push3-right(!important); }
.romo-push4-right { @include push4-right(!important); }
.romo-push5-right { @include push5-right(!important); }
.romo-push6-right { @include push6-right(!important); }
.romo-rm-push-right { @include rm-push-right(!important); }

.romo-push0-bottom { @include push0-bottom(!important); }
.romo-push-bottom  { @include push1-bottom(!important); }
.romo-push1-bottom { @include push1-bottom(!important); }
.romo-push2-bottom { @include push2-bottom(!important); }
.romo-push3-bottom { @include push3-bottom(!important); }
.romo-push4-bottom { @include push4-bottom(!important); }
.romo-push5-bottom { @include push5-bottom(!important); }
.romo-push6-bottom { @include push6-bottom(!important); }
.romo-rm-push-bottom { @include rm-push-bottom(!important); }

.romo-push0-left { @include push0-left(!important); }
.romo-push-left  { @include push1-left(!important); }
.romo-push1-left { @include push1-left(!important); }
.romo-push2-left { @include push2-left(!important); }
.romo-push3-left { @include push3-left(!important); }
.romo-push4-left { @include push4-left(!important); }
.romo-push5-left { @include push5-left(!important); }
.romo-push6-left { @include push6-left(!important); }
.romo-rm-push-left { @include rm-push-left(!important); }

/* other helpers */

.romo-nowrap { white-space: nowrap !important; }
.romo-crop   { white-space: nowrap !important; overflow: hidden !important; }

.romo-inline       { display: inline !important; }
.romo-inline-block { display: inline-block !important; }
.romo-block        { display: block !important; }

.romo-relative { position: relative !important; }
.romo-absolute { position: absolute !important; }
.romo-fixed    { position: fixed !important; }

.romo-pull-left,
.romo-float-left  { float: left !important; }
.romo-pull-right,
.romo-float-right { float: right !important; }

.romo-overflow-hidden { overflow: hidden !important; }
.romo-overflow-auto   { overflow: auto !important; }
.romo-overflow-scroll { overflow: scroll !important; }

.romo-overflow-x-hidden { overflow-x: hidden !important; }
.romo-overflow-x-auto   { overflow-x: auto !important; }
.romo-overflow-x-scroll { overflow-x: scroll !important; }

.romo-overflow-y-hidden { overflow-y: hidden !important; }
.romo-overflow-y-auto   { overflow-y: auto !important; }
.romo-overflow-y-scroll { overflow-y: scroll !important; }
