@import 'css/romo/vars';
@import 'css/romo/mixins';

.romo-dropdown {
  cursor: pointer;
}

[data-romo-dropdown-close="true"]{
  cursor: pointer;
}

.romo-dropdown-popup {
  position: absolute;
  float: left;
  border-width: 1px;
  border-style: solid;
}

.romo-dropdown-popup,
.romo-dropdown-body,
.romo-dropdown-content {
  @include border-box;
}

.romo-dropdown-popup[data-romo-dropdown-position="bottom"] {
  @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
}

.romo-dropdown-popup[data-romo-dropdown-position="top"] {
  @include box-shadow(0 -3px 10px rgba(0, 0, 0, 0.2));
}

.romo-dropdown-popup:not([class*="romo-dropdown-open"]) {
  display: none;
}

/* theme */

.romo-dropdown-popup {
  background-color: #ffffff;
  border-color: #cccccc;
  border-color: rgba(0, 0, 0, 0.2);
}
