.romo-dropdown {
  cursor: pointer;
}

.romo-dropdown-popup {
  position: absolute;
  z-index: 1000;
  float: left;
  border-width: 1px;
  border-style: solid;
}

.romo-dropdown-popup[data-romo-dropdown-position="bottom"] {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.romo-dropdown-popup[data-romo-dropdown-position="top"] {
  -webkit-box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);
}

.romo-dropdown-popup:not([class*="romo-dropdown-open"]) {
  display: none;
}

.romo-dropdown-body {
  overflow: scroll;
}

/* theme */

.romo-dropdown-popup {
  background-color: #ffffff;
  border-color: #cccccc;
  border-color: rgba(0, 0, 0, 0.2);
}
