@import 'css/romo/mixins';

.romo-row:before,
.romo-row:after {
  display: table;
  line-height: 0;
  content: "";
}

.romo-row:after {
  clear: both;
}

.romo-row > [class*="romo-col-"] {
  float: left;
  min-height: 1px;
}

.romo-col-1-12  { @include grid-col(1, 12); }
.romo-col-2-12  { @include grid-col(2, 12); }
.romo-col-3-12  { @include grid-col(3, 12); }
.romo-col-4-12  { @include grid-col(4, 12); }
.romo-col-5-12  { @include grid-col(5, 12); }
.romo-col-6-12  { @include grid-col(6, 12); }
.romo-col-7-12  { @include grid-col(7, 12); }
.romo-col-8-12  { @include grid-col(8, 12); }
.romo-col-9-12  { @include grid-col(9, 12); }
.romo-col-10-12 { @include grid-col(10, 12); }
.romo-col-11-12 { @include grid-col(11, 12); }
.romo-col-12-12 { @include grid-col(12, 12); }

.romo-col-1-24  { @include grid-col(1, 24); }
.romo-col-2-24  { @include grid-col(2, 24); }
.romo-col-3-24  { @include grid-col(3, 24); }
.romo-col-4-24  { @include grid-col(4, 24); }
.romo-col-5-24  { @include grid-col(5, 24); }
.romo-col-6-24  { @include grid-col(6, 24); }
.romo-col-7-24  { @include grid-col(7, 24); }
.romo-col-8-24  { @include grid-col(8, 24); }
.romo-col-9-24  { @include grid-col(9, 24); }
.romo-col-10-24 { @include grid-col(10, 24); }
.romo-col-11-24 { @include grid-col(11, 24); }
.romo-col-12-24 { @include grid-col(12, 24); }
.romo-col-13-24 { @include grid-col(13, 24); }
.romo-col-14-24 { @include grid-col(14, 24); }
.romo-col-15-24 { @include grid-col(15, 24); }
.romo-col-16-24 { @include grid-col(16, 24); }
.romo-col-17-24 { @include grid-col(17, 24); }
.romo-col-18-24 { @include grid-col(18, 24); }
.romo-col-19-24 { @include grid-col(19, 24); }
.romo-col-20-24 { @include grid-col(20, 24); }
.romo-col-21-24 { @include grid-col(21, 24); }
.romo-col-22-24 { @include grid-col(22, 24); }
.romo-col-23-24 { @include grid-col(23, 24); }
.romo-col-24-24 { @include grid-col(24, 24); }

.romo-offset-1-12  { @include grid-offset(1, 12); }
.romo-offset-2-12  { @include grid-offset(2, 12); }
.romo-offset-3-12  { @include grid-offset(3, 12); }
.romo-offset-4-12  { @include grid-offset(4, 12); }
.romo-offset-5-12  { @include grid-offset(5, 12); }
.romo-offset-6-12  { @include grid-offset(6, 12); }
.romo-offset-7-12  { @include grid-offset(7, 12); }
.romo-offset-8-12  { @include grid-offset(8, 12); }
.romo-offset-9-12  { @include grid-offset(9, 12); }
.romo-offset-10-12 { @include grid-offset(10, 12); }
.romo-offset-11-12 { @include grid-offset(11, 12); }
.romo-offset-12-12 { @include grid-offset(12, 12); }

.romo-offset-1-24  { @include grid-offset(1, 24); }
.romo-offset-2-24  { @include grid-offset(2, 24); }
.romo-offset-3-24  { @include grid-offset(3, 24); }
.romo-offset-4-24  { @include grid-offset(4, 24); }
.romo-offset-5-24  { @include grid-offset(5, 24); }
.romo-offset-6-24  { @include grid-offset(6, 24); }
.romo-offset-7-24  { @include grid-offset(7, 24); }
.romo-offset-8-24  { @include grid-offset(8, 24); }
.romo-offset-9-24  { @include grid-offset(9, 24); }
.romo-offset-10-24 { @include grid-offset(10, 24); }
.romo-offset-11-24 { @include grid-offset(11, 24); }
.romo-offset-12-24 { @include grid-offset(12, 24); }
.romo-offset-13-24 { @include grid-offset(13, 24); }
.romo-offset-14-24 { @include grid-offset(14, 24); }
.romo-offset-15-24 { @include grid-offset(15, 24); }
.romo-offset-16-24 { @include grid-offset(16, 24); }
.romo-offset-17-24 { @include grid-offset(17, 24); }
.romo-offset-18-24 { @include grid-offset(18, 24); }
.romo-offset-19-24 { @include grid-offset(19, 24); }
.romo-offset-20-24 { @include grid-offset(20, 24); }
.romo-offset-21-24 { @include grid-offset(21, 24); }
.romo-offset-22-24 { @include grid-offset(22, 24); }
.romo-offset-23-24 { @include grid-offset(23, 24); }
.romo-offset-24-24 { @include grid-offset(24, 24); }
