button.romo,
input.romo,
select.romo,
textarea.romo {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button.romo,
input.romo {
  *overflow: visible;
  line-height: normal;
}

textarea.romo {
  overflow: auto;
  vertical-align: top;
}

label.romo,
select.romo,
button.romo,
input.romo[type="button"],
input.romo[type="reset"],
input.romo[type="submit"],
input.romo[type="radio"],
input.romo[type="checkbox"] {
  cursor: pointer;
}

input.romo[disabled],
select.romo[disabled],
textarea.romo[disabled],
input.romo[readonly],
select.romo[readonly],
textarea.romo[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
}

label.romo,
input.romo,
button.romo,
select.romo,
textarea.romo {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

input.romo,
button.romo,
select.romo,
textarea.romo {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label.romo,
input.romo,
button.romo,
select.romo,
textarea.romo {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

textarea.romo,
select.romo[multiple],
select.romo[size] {
  height: auto;
}

input[type="file"] {
  height: 30px;
  line-height: 30px;
}

input.romo,
select.romo,
textarea.romo {
  width: 220px;
}

input.romo[type="file"],
input.romo[type="image"],
input.romo[type="submit"],
input.romo[type="reset"],
input.romo[type="button"],
input.romo[type="radio"],
input.romo[type="checkbox"] {
  width: auto;
}

input.romo[type="radio"],
input.romo[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
}

select.romo,
textarea.romo,
input.romo[type="text"],
input.romo[type="password"],
input.romo[type="datetime"],
input.romo[type="datetime-local"],
input.romo[type="date"],
input.romo[type="month"],
input.romo[type="time"],
input.romo[type="week"],
input.romo[type="number"],
input.romo[type="email"],
input.romo[type="url"],
input.romo[type="search"],
input.romo[type="tel"],
input.romo[type="color"] {
  display: inline-block;
  height: 30px;
  line-height: 20px;
  padding: 4px 6px;
  color: #555555;
  vertical-align: middle;

  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

/* theme */

select.romo {
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

textarea.romo,
input.romo[type="text"],
input.romo[type="password"],
input.romo[type="datetime"],
input.romo[type="datetime-local"],
input.romo[type="date"],
input.romo[type="month"],
input.romo[type="time"],
input.romo[type="week"],
input.romo[type="number"],
input.romo[type="email"],
input.romo[type="url"],
input.romo[type="search"],
input.romo[type="tel"],
input.romo[type="color"] {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea.romo:focus,
input.romo[type="text"]:focus,
input.romo[type="password"]:focus,
input.romo[type="datetime"]:focus,
input.romo[type="datetime-local"]:focus,
input.romo[type="date"]:focus,
input.romo[type="month"]:focus,
input.romo[type="time"]:focus,
input.romo[type="week"]:focus,
input.romo[type="number"]:focus,
input.romo[type="email"]:focus,
input.romo[type="url"]:focus,
input.romo[type="search"]:focus,
input.romo[type="tel"]:focus,
input.romo[type="color"]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

select.romo:focus,
input.romo[type="file"]:focus,
input.romo[type="radio"]:focus,
input.romo[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline-offset: -2px;
}

input.romo[disabled],
select.romo[disabled],
textarea.romo[disabled],
input.romo[readonly],
select.romo[readonly],
textarea.romo[readonly] {
  background-color: #eeeeee;
}

input.romo[type="radio"][disabled],
input.romo[type="checkbox"][disabled],
input.romo[type="radio"][readonly],
input.romo[type="checkbox"][readonly] {
  background-color: transparent;
}
