@import 'css/romo/vars';
@import 'css/romo/mixins';

.romo-label {
  display: inline-block;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  background-color: $btnAltBackgroundHighlight;
  color: $btnAltColor;
  @include label-pad($baseLineHeight);
  @include rm-push;
  @include align-center;
  @include align-middle;
}

.romo-label.romo-label1 { @include font-size1; @include font-weight1; @include line-height1; @include label-pad1; }
.romo-label.romo-label-large,
.romo-label.romo-label2 { @include font-size2; @include font-weight2; @include line-height2; @include label-pad2; }
.romo-label,
.romo-label.romo-label3 { @include font-size3; @include font-weight3; @include line-height3; @include label-pad3; }
.romo-label.romo-label-small,
.romo-label.romo-label4 { @include font-size4; @include font-weight4; @include line-height4; @include label-pad4; }

.romo-label-inline1 { @include font-size1; @include font-weight1; @include line-height1; @include label-inline1; }
.romo-label-inline-large,
.romo-label-inline2 { @include font-size2; @include font-weight2; @include line-height2; @include label-inline2; }
.romo-label-inline,
.romo-label-inline3 { @include font-size3; @include font-weight3; @include line-height3; @include label-inline3; }
.romo-label-inline-small,
.romo-label-inline4 { @include font-size4; @include font-weight4; @include line-height4; @include label-inline4; }

.romo-label-block { display: block; width: 100%; }

.romo-label.romo-label-alt     { background-color: $btnBackground;                 color: $btnColor; }
.romo-label.romo-label-primary { background-color: $btnPrimaryBackgroundHighlight; color: $btnPrimaryColor; }
.romo-label.romo-label-warning { background-color: $btnWarningBackgroundHighlight; color: $btnWarningColor; }
.romo-label.romo-label-error,
.romo-label.romo-label-danger  { background-color: $btnDangerBackgroundHighlight;  color: $btnDangerColor; }
.romo-label.romo-label-info    { background-color: $btnInfoBackgroundHighlight;    color: $btnInfoColor; }
.romo-label.romo-label-success { background-color: $btnSuccessBackgroundHighlight; color: $btnSuccessColor; }
.romo-label.romo-label-inverse { background-color: $btnInverseBackgroundHighlight; color: $btnInverseColor; }
