@import 'css/romo/vars';
@import 'css/romo/mixins';

.romo {

  .romo-modal,
  [data-romo-modal-close="true"] {
    cursor: pointer;
  }

  .romo-modal-grab {
    @include cursor-grab;
  }

  .romo-modal-grabbing {
    @include cursor-grabbing;
  }

  .romo-modal-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    float: left;
    @include border0;
    @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));

    background-color: $baseBgColor;
    border-color: $baseBorderColor;
    border-color: rgba(0, 0, 0, 0.2);
  }

  .romo-modal-body,
  .romo-modal-content {
    position: relative;
  }

  .romo-modal-popup:not([class*="romo-modal-open"]) {
    display: none;
  }

}
