.romo-modal {
  cursor: pointer;
}

.romo-modal-grab {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.romo-modal-grabbing {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.romo-modal-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  float: left;
  border-width: 1px;
  border-style: solid;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.romo-modal-popup:not([class*="romo-modal-open"]) {
  display: none;
}

/* theme */

.romo-modal-popup {
  background-color: #ffffff;
  border-color: #cccccc;
  border-color: rgba(0, 0, 0, 0.2);
}
