@import 'css/romo/vars';
@import 'css/romo/mixins';

.romo-select-wrapper {
  text-align: left;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
  @include user-select(none);
  position: relative;
}

.romo-select {
  display: inline-block;
  *display: inline;

  min-width: 50px;
  font-weight: normal;
  text-align: left;
  padding-left: 6px;
  padding-right: 6px;
}

.romo-select:focus{ @include input-focus; }

.romo-select:active,
.romo-select.active {
  background-image: none;
  outline: 0;
  @include box-shadow((inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)));
}

.romo-select-text {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}
.romo-select-caret {
  position: absolute;
  right: 6px;
  vertical-align: middle;
}

.romo-select-option-list {
  cursor: pointer;
  font-weight: normal;
  padding: 4px 0;
  @include user-select(none);

  background-color: $inputBackground;
  color: $inputColor;
}

.romo-select-option-list UL {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.romo-select-option-list LI {
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  height: $baseLineHeight;
  padding: 0 $spacingSize1;
}

.romo-select-option-list UL.romo-select-optgroup LI {
  padding-left: $spacingSize1 * 2;
}
.romo-select-option-list LI[data-romo-select-item="optgroup"] {
  font-size: $fontSize0;
  line-height: $lineHeight0;
  height: $lineHeight0;

  background-color: $inputColor;
  color: $inputBackground;
}

.romo-select-option-list LI.romo-select-highlight {
  background-color: $inputHighlight;
  color: $inputBackground;
}

.romo-select-option-list LI.disabled {
  cursor: $notAllowedCursor;
}

.romo-select-option-list LI.disabled,
.romo-select-option-list LI.disabled.romo-select-highlight {
  background-color: $inputBackground;
  color: $disabledColor;
}
