.romo-select {
  display: inline-block;
  *display: inline;

  font-weight: normal;
  text-align: left;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;

  min-width: 50px;
  padding: 4px 6px;
  border-width: 1px;
  border-style: solid;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.romo-select.disabled,
.romo-select[disabled] {
  cursor: not-allowed;
}

.romo-select-wrapper {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.romo-select-text {
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.romo-select-caret {
  position: absolute;
  right: 6px;
  vertical-align: middle;
}

.romo-select-option-list {
  cursor: pointer;
  font-weight: normal;
  padding: 4px 0;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.romo-select-option-list UL {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.romo-select-option-list LI.disabled {
  cursor: not-allowed;
}

/* variable */

.romo-select {
  font-size: 14px;
  line-height: 20px;
}

.romo-select-option-list LI {
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  padding: 0 10px;
}

.romo-select-option-list LI[data-romo-select-item="optgroup"] {
  font-size: 12px;
  line-height: 16px;
  height: 16px;
}

.romo-select-option-list UL.romo-select-optgroup LI {
  padding-left: 20px;
}

/* theme */

.romo-select {
  color: #333333;

  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;

  border-color: #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
}

.romo-select:hover,
.romo-select:focus,
.romo-select:active,
.romo-select.active,
.romo-select.disabled,
.romo-select[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.romo-select:hover,
.romo-select:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.romo-select:active,
.romo-select.active {
  background-color: #e6e6e6;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.romo-select.disabled,
.romo-select[disabled] {
  color: #999999;
}

.romo-select-option-list {
  background-color: #ffffff;
  color: #333333;
}

.romo-select-option-list LI[data-romo-select-item="optgroup"] {
  background-color: #333333;
  color: #ffffff;
}

.romo-select-option-list LI.disabled,
.romo-select-option-list LI.disabled.romo-select-highlight {
  background-color: #ffffff;
  color: #999999;
}

.romo-select-option-list LI.romo-select-highlight {
  background-color: #3c83c7;
  color: #ffffff;
}
