@import 'css/romo/vars';
@import 'css/romo/mixins';

.romo-tooltip {
  cursor: pointer;
}

.romo-tooltip-popup {
  position: absolute;
  float: left;
  @include border1-radius;

  white-space: normal;
  text-align: left;

  font-size: 11px;
  line-height: 1.4;
  font-weight: 300;
}

.romo-tooltip-popup:not([class*="romo-tooltip-open"]) {
  display: none;
}

.romo-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.romo-tooltip-popup[data-romo-tooltip-position="top"] .romo-tooltip-arrow {
  border-width: 6px 6px 0;
  bottom: -6px;
  left: 50%;
  margin-left: -6px;
}

.romo-tooltip-popup[data-romo-tooltip-position="right"] .romo-tooltip-arrow {
  border-width: 6px 6px 6px 0;
  left: -6px;
  top: 50%;
  margin-top: -6px;
}

.romo-tooltip-popup[data-romo-tooltip-position="bottom"] .romo-tooltip-arrow {
  border-width: 0 6px 6px;
  top: -6px;
  left: 50%;
  margin-left: -6px;
}

.romo-tooltip-popup[data-romo-tooltip-position="left"] .romo-tooltip-arrow {
  border-width: 6px 0 6px 6px;
  right: -6px;
  top: 50%;
  margin-top: -6px;
}

.romo-tooltip-body {
  padding: 6px 8px;
  overflow: hidden;
}


/* theme */

.romo-tooltip-popup {
  background-color: #202020;
  color: #e0e0e0;
}

.romo-tooltip-popup[data-romo-tooltip-position="top"] .romo-tooltip-arrow {
  border-top-color: #202020;
}

.romo-tooltip-popup[data-romo-tooltip-position="right"] .romo-tooltip-arrow {
  border-right-color: #202020;
}

.romo-tooltip-popup[data-romo-tooltip-position="bottom"] .romo-tooltip-arrow {
  border-bottom-color: #202020;
}

.romo-tooltip-popup[data-romo-tooltip-position="left"] .romo-tooltip-arrow {
  border-left-color: #202020;
}
