.romo-tooltip {
  position: relative;
  cursor: pointer;
}

.romo-tooltip-popup {
  position: absolute;
  z-index: 2000;
  float: left;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

  white-space: normal;
  text-align: left;

  font-size: 11px;
  line-height: 1.4;
}

.romo-tooltip-popup[data-position="top"],
.romo-tooltip-popup[data-position="bottom"] {
  margin: 8px 0;
}

.romo-tooltip-popup[data-position="left"],
.romo-tooltip-popup[data-position="right"] {
  margin: 0 8px;
}

.romo-tooltip-popup[data-position="top"][data-align="left"] {
  top: auto;
  bottom: 100%;
  left: 0;
  right: auto;
}

.romo-tooltip-popup[data-position="top"][data-align="right"] {
  top: auto;
  bottom: 100%;
  left: auto;
  right: 0;
}

.romo-tooltip-popup[data-position="right"][data-align="top"] {
  top: 0;
  bottom: auto;
  left: 100%;
  right: auto;
}

.romo-tooltip-popup[data-position="right"][data-align="bottom"] {
  top: auto;
  bottom: 0;
  left: 100%;
  right: auto;
}

.romo-tooltip-popup[data-position="bottom"][data-align="left"] {
  top: 100%;
  bottom: auto;
  left: 0;
  right: auto;
}

.romo-tooltip-popup[data-position="bottom"][data-align="right"] {
  top: 100%;
  bottom: auto;
  left: auto;
  right: 0;
}

.romo-tooltip-popup[data-position="left"][data-align="top"] {
  top: 0;
  bottom: auto;
  left: auto;
  right: 100%;
}

.romo-tooltip-popup[data-position="left"][data-align="bottom"] {
  top: auto;
  bottom: 0;
  left: auto;
  right: 100%;
}

.romo-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.romo-tooltip-popup[data-position="top"][data-align="left"] .romo-tooltip-arrow {
  bottom: -6px;
  left: 6px;
  border-width: 6px 6px 0;
}

.romo-tooltip-popup[data-position="top"][data-align="right"] .romo-tooltip-arrow {
  bottom: -6px;
  right: 6px;
  border-width: 6px 6px 0;
}

.romo-tooltip-popup[data-position="right"][data-align="top"] .romo-tooltip-arrow {
  top: 6px;
  left: -6px;
  border-width: 6px 6px 6px 0;
}

.romo-tooltip-popup[data-position="right"][data-align="bottom"] .romo-tooltip-arrow {
  bottom: 6px;
  left: -6px;
  border-width: 6px 6px 6px 0;
}

.romo-tooltip-popup[data-position="bottom"][data-align="left"] .romo-tooltip-arrow {
  top: -6px;
  left: 6px;
  border-width: 0 6px 6px;
}

.romo-tooltip-popup[data-position="bottom"][data-align="right"] .romo-tooltip-arrow {
  top: -6px;
  right: 6px;
  border-width: 0 6px 6px;
}

.romo-tooltip-popup[data-position="left"][data-align="top"] .romo-tooltip-arrow {
  top: 6px;
  right: -6px;
  border-width: 6px 0 6px 6px;
}

.romo-tooltip-popup[data-position="left"][data-align="bottom"] .romo-tooltip-arrow {
  bottom: 6px;
  right: -6px;
  border-width: 6px 0 6px 6px;
}

.romo-tooltip-popup:not([class*="romo-tooltip-open"]) {
  display: none;
}

.romo-tooltip-body {
  padding: 6px 8px;
  overflow: scroll;
}


/* theme */

.romo-tooltip-popup {
  background-color: #202020;
  color: #e0e0e0;
}

.romo-tooltip-popup[data-position="top"][data-align="left"] .romo-tooltip-arrow,
.romo-tooltip-popup[data-position="top"][data-align="right"] .romo-tooltip-arrow {
  border-top-color: #202020;
}

.romo-tooltip-popup[data-position="right"][data-align="top"] .romo-tooltip-arrow,
.romo-tooltip-popup[data-position="right"][data-align="bottom"] .romo-tooltip-arrow {
  border-right-color: #202020;
}

.romo-tooltip-popup[data-position="bottom"][data-align="left"] .romo-tooltip-arrow,
.romo-tooltip-popup[data-position="bottom"][data-align="right"] .romo-tooltip-arrow {
  border-bottom-color: #202020;
}

.romo-tooltip-popup[data-position="left"][data-align="top"] .romo-tooltip-arrow,
.romo-tooltip-popup[data-position="left"][data-align="bottom"] .romo-tooltip-arrow {
  border-left-color: #202020;
}
